executor: CeleryExecutor

airflow:
  image:
    repository: etl-airflow
    tag: 0.1
    pullPolicy: IfNotPresent

dags:
  gitSync:
    enabled: true
    repo: "https://github.com/imroh17kadam/airflow-pipeline.git"
    branch: "master"
    depth: 1
    subPath: ""
    wait: 30

postgresql:
  enabled: false

redis:
  enabled: false

# Top-level data section required for external Redis
data:
  brokerUrlSecretName: airflow-redis-broker
  brokerUrlSecretKey: broker-url

workers:
  replicas: 2

env:
  - name: AIRFLOW__CORE__FERNET_KEY
    value: "YOUR_FERNET_KEY_HERE"
  - name: AIRFLOW__CORE__EXECUTOR
    value: "CeleryExecutor"
  - name: AIRFLOW__DATABASE__SQL_ALCHEMY_CONN
    value: "postgresql+psycopg2://airflow:<POSTGRES_PASSWORD>@<POSTGRES_SERVICE>:5432/airflow"

scheduler:
  replicas: 1
webserver:
  replicas: 1

logs:
  persistence:
    enabled: true
    size: 1Gi

config:
  AIRFLOW__CORE__LOAD_EXAMPLES:
    value: false
  AIRFLOW__CORE__DAGS_ARE_PAUSED_AT_CREATION:
    value: true