executor: CeleryExecutor

airflow:
  image:
    repository: etl-airflow
    tag: 0.1
    pullPolicy: IfNotPresent

dags:
  gitSync:
    enabled: true
    repo: "https://github.com/imroh17kadam/airflow-pipeline.git"
    branch: "master"
    depth: 1
    subPath: ""
    wait: 30

postgresql:
  enabled: false

redis:
  enabled: false

data:
  brokerUrlSecretName: airflow-redis-broker

workers:
  replicas: 2

env:
  - name: AIRFLOW__CORE__EXECUTOR
    value: "CeleryExecutor"

scheduler:
  replicas: 1
webserver:
  replicas: 1

logs:
  persistence:
    enabled: true
    size: 1Gi

config:
  AIRFLOW__CORE__FERNET_KEY: "FGRMRtlQjlffmlrFfW3KvbZuNSU3sqAkJ-KEkgyjeq8="
  AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: "postgresql+psycopg2://airflow:airflow@postgres:5432/airflow"
  AIRFLOW__CORE__LOAD_EXAMPLES: "False"
  AIRFLOW__CORE__DAGS_ARE_PAUSED_AT_CREATION: "True"