executor: CeleryExecutor

images:
  airflow:
    repository: airflow-etl
    tag: "1.0"
    pullPolicy: IfNotPresent

postgresql:
  enabled: true

redis:
  enabled: true

dags:
  persistence:
    enabled: false

config:
  core:
    load_examples: false